* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif
}
.container {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 78vh;
    width: 25vw;
    border-radius: 5%;

}

.qr_block {
    position: relative;
    margin: 15px auto;
    height: 60%;
    width: 90%;
    border-radius: 5%;
    background-image: url("/images/image-qr-code.png");
    background-size: cover;
    background-position: center;

}

h1 {
    font-size:22px;
margin:20px 30px 10px 30px;
text-align: center;
font-weight: 700;}
p {
    margin: 0 35px 30px 35px;
    font-size: 15px;
    text-align: center;
    color:hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
